#                                     Assignment No 4

In [12]:
import pandas as pd

In [32]:
data = pd.read_csv("netflix_data.csv")
data.loc[[16, 38, 67, 97, 117]]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,"March 20, 2019",2018,1,"As a psychology professor faces Alzheimer's, h...",International TV
38,s39,TV Show,แผนร้ายนายเจ้าเล่ห์,NaN,"Chutavuth Pattarakampol, Sheranut Yusananda, N...",NaN,"March 30, 2019",2016,1,"When two brothers fall for two sisters, they q...",International TV
67,s68,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,37,Oprah Winfrey sits down with director Ava DuVe...,Uncategorized
97,s98,Movie,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...",NaN,"December 31, 2019",2003,121,A reporter interviews three convicts on death ...,Dramas
117,s118,Movie,5 Cowok Jagoan,Anggy Umbara,"Ario Bayu, Arifin Putra, Dwi Sasono, Muhadkly ...",NaN,"January 5, 2019",2017,106,Yanto asks his friends to help save a girlfrie...,Action

## Q1: In the netflix dataset replace all null values present in country column with united states.

In [54]:
data["country"].fillna("United states", inplace=True)
data.loc[[16, 38, 67, 97, 117]]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",United states,"March 20, 2019",2018,1,"As a psychology professor faces Alzheimer's, h...",International TV
38,s39,TV Show,แผนร้ายนายเจ้าเล่ห์,NaN,"Chutavuth Pattarakampol, Sheranut Yusananda, N...",United states,"March 30, 2019",2016,1,"When two brothers fall for two sisters, they q...",International TV
67,s68,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",United states,"January 26, 2017",2017,37,Oprah Winfrey sits down with director Ava DuVe...,Uncategorized
97,s98,Movie,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...",United states,"December 31, 2019",2003,121,A reporter interviews three convicts on death ...,Dramas
117,s118,Movie,5 Cowok Jagoan,Anggy Umbara,"Ario Bayu, Arifin Putra, Dwi Sasono, Muhadkly ...",United states,"January 5, 2019",2017,106,Yanto asks his friends to help save a girlfrie...,Action

## Q2: Show 10 countries with most tv-shows and movies

In [39]:
d = data.groupby("country").count()
d.head(10)

,show_id,type,title,director,cast,date_added,release_year,duration,description,genre
country,,,,,,,,,,
Argentina,68,68,68,51,62,68,68,68,68,68
Australia,108,108,108,57,95,107,108,108,108,108
Austria,8,8,8,7,6,8,8,8,8,8
Bangladesh,2,2,2,2,2,2,2,2,2,2
Belarus,1,1,1,0,1,1,1,1,1,1
Belgium,14,14,14,7,13,14,14,14,14,14
Brazil,79,79,79,55,69,79,79,79,79,79
Bulgaria,5,5,5,5,5,5,5,5,5,5
Cambodia,2,2,2,2,2,2,2,2,2,2
Canada,259,259,259,173,234,259,259,259,259,259

In [61]:
type_movie = data[data['type'] == 'Movie']
type_movie.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies

## Q3: Count of movies released in year respective years. example
2017   9

2018   7
this shows 9 movies released in 2017 and 7 in 2018. Like for every year.

## The answer is 
### 2017 year movies count 744

In [56]:
type_movie[type_movie['release_year'] == 2017].count()

show_id         744
type            744
title           744
director        725
cast            654
country         744
date_added      744
release_year    744
duration        744
description     744
genre           744
dtype: int64

### 2018 year movies count 734

In [53]:
type_movie[type_movie['release_year'] == 2018].count()

show_id         734
type            734
title           734
director        704
cast            666
country         734
date_added      734
release_year    734
duration        734
description     734
genre           734
dtype: int64

## Q4: Similarly, count of tv-shows released in there respective years.

In [60]:
type_tv_shows = data[data['type'] == 'TV Show']
type_tv_shows.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...",Poland,"November 30, 2018",2018,1,"In this dark alt-history thriller, a naïve law...",Crime TV
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,1,Archival video and new interviews examine Mexi...,Crime TV
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",United states,"March 20, 2019",2018,1,"As a psychology professor faces Alzheimer's, h...",International TV

### 2017 year TV Shows count 268

In [62]:
type_tv_shows[type_tv_shows['release_year'] == 2017].count()

show_id         268
type            268
title           268
director         25
cast            239
country         268
date_added      268
release_year    268
duration        268
description     268
genre           268
dtype: int64

### 2018 year TV Shows count 387

In [63]:
type_tv_shows[type_tv_shows['release_year'] == 2018].count()

show_id         387
type            387
title           387
director         24
cast            334
country         387
date_added      386
release_year    387
duration        387
description     387
genre           387
dtype: int64